// Variables for light mode
$bg-light: #ffffff;
$font-black: #000000;

// Variables for dark mode
$bg-dark: #333333;
$font-white: #ffffff;

body {
	align-items: center;
	display: flex;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	height: 100vh;
	justify-content: center;
	margin: 0;
	padding: 0;
	
	&.light {
		background-color: $bg-light;
		color: $font-black;
	}

	&.dark {
		background-color: $bg-dark;
		color: $font-white;
	}
}

h1 {
	text-align: center;
}

.toggle-switch {
	position: relative;
}

.switch {
	background: #ddd;
	border-radius: 20px;
	cursor: pointer;
	display: flex;
	align-items: center;
	height: 24px;
	position: relative;
	width: 50px;
}

.switch .icon {
	position: absolute;
	width: 20px;
	height: 20px;
	transition: opacity 0.3s, transform 0.3s;
}

.sun-icon {
	left: 2px;
}

.moon-icon {
	right: 2px;
	opacity: 0;
}

input[type="checkbox"] {
	display: none;
}

input[type="checkbox"]:checked + .switch {
	background: #555;
}

input[type="checkbox"]:checked + .switch .sun-icon {
	opacity: 0;
	transform: translateX(20px);
}

input[type="checkbox"]:checked + .switch .moon-icon {
	opacity: 1;
	transform: translateX(0);
}
